#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#undef ZMK_POINTING_DEFAULT_SCRL_VAL

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    //コンボ設定

    combos {
        compatible = "zmk,combos";

        Lang2 {
            bindings = <&kp LANGUAGE_2>;
            key-positions = <39 40>;
        };

        Del {
            bindings = <&kp DEL>;
            key-positions = <9 8>;
        };

        BS {
            bindings = <&kp BACKSPACE>;
            key-positions = <19 18>;
        };
    };

    //マクロ(既存のキーの組み合わせ)

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    //新たな動作を定義する

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        mouse_scroll: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };
    };

    //キーマップ設定

    keymap {
        compatible = "zmk,keymap";

        Win-Default_Layer {
            bindings = <
&mt ESC Q       &kp L         &kp U  &kp COMMA  &mt QUESTION PERIOD    &kp F     &kp W      &kp R     &kp Y      &kp P
&mt TAB E       &kp I         &kp A  &kp O      &kp MINUS              &kp K     &kp T      &kp N     &lt 3 S    &kp H
&mt CAPSLOCK Z  &kp X         &kp C  &kp V      &kp QUESTION           &kp CAPS  &kp RCTRL  &mt UP G  &kp D      &kp M  &kp J  &mt RSHFT B
&kp LCTRL       &kp LEFT_WIN                    &kp EXCLAMATION        &kp LALT  &kp LEFT   &kp DOWN  &kp RIGHT  &to 2  &to 1  &kp ENTER
            >;

            sensor-bindings =
                <&mouse_scroll SCRL_UP SCRL_DOWN>,
                <&mouse_scroll SCRL_UP SCRL_DOWN>;
        };

        Win-Function_Layer {
            bindings = <
&mt ESC F1          &kp F2           &kp F3  &kp F4  &kp F5              &kp F6          &kp F7     &kp F8                &kp F9                 &kp F10
&kp TAB             &kp PRINTSCREEN  &to 0   &to 1   &kp APOS            &kp F11         &kp F12    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS
&mt CAPS Z          &kp X            &kp C   &kp V   &kp SEMICOLON       &kp LANGUAGE_1  &kp RCTRL  &kp UP                &kp NUMBER_1           &kp NUMBER_2  &kp NUMBER_3  &kp RSHIFT
&mt LSHFT LEFT_WIN  &kp LALT                         &kp LEFT_CONTROL    &kp SPACE       &kp LEFT   &kp DOWN              &kp RIGHT              &to 2         &kp DOT       &kp ENTER
            >;

            sensor-bindings =
                <&mouse_scroll SCRL_LEFT SCRL_RIGHT>,
                <&mouse_scroll SCRL_LEFT SCRL_RIGHT>;
        };

        Num_Layer {
            bindings = <
&kp ESC             &kp GRAVE        &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp NON_US_BACKSLASH    &kp SLASH       &kp N7             &kp N8    &kp N9        &kp ASTERISK
&kp TAB             &kp EXCLAMATION  &to 0             &to 1              &kp APOS                &kp EQUAL       &kp NUMBER_4       &kp N5    &kp NUMBER_6  &kp MINUS
&mt CAPS Z          &kp X            &kp C             &kp V              &kp SEMICOLON           &kp LANGUAGE_1  &kp RIGHT_CONTROL  &kp UP    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS
&mt LSHFT LEFT_WIN  &kp LALT                                              &kp LEFT_CONTROL        &kp SPACE       &kp LEFT           &kp DOWN  &kp RIGHT     &kp N0        &kp DOT       &kp ENTER
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        Setting_Layer {
            bindings = <
&trans      &trans       &trans  &trans  &trans    &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans      &trans       &trans  &trans  &trans    &trans        &trans          &trans        &trans        &trans
&trans      &trans       &trans  &trans  &trans    &trans        &studio_unlock  &trans        &trans        &trans        &trans  &bt BT_CLR
&sys_reset  &bootloader                  &trans    &trans        &sys_reset      &bootloader   &trans        &trans        &trans  &bt BT_CLR_ALL
            >;
        };

        Auto-MOUSE_Layer {
            bindings = <
&mkp RCLK       &mkp MCLK        &mkp LCLK        &mkp MB5  &kp LG(TAB)    &trans  &trans  &trans  &trans  &trans
&msc SCRL_LEFT  &msc MOVE_Y(20)  &msc SCRL_RIGHT  &mkp MB4  &trans         &trans  &trans  &trans  &trans  &trans
&trans          &trans           &trans           &trans    &trans         &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans                                      &trans         &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
